@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Quicksand:wght@300&display=swap');
@import 'mixins';
@import 'null';

body {
	font-family: $fontFamilyPrimary;
	background-color: var(--body-background);
}

._container {
	margin: 0px auto;
	padding: 0 15px;
	max-width: $maxWidthContainer + px;
}